@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap");
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px;
}

div.cards {
  display: flex;
  justify-content: center;
}

div.first_card {
  width: 307px;
  height: 500px;
  background-color: #e28625;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 48px;
}

div.second_card {
  width: 307px;
  height: 500px;
  background-color: #006971;
  padding: 48px;
}

div.third_card {
  width: 307px;
  height: 500px;
  background-color: #004140;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 48px;
}

h2 {
  color: #f2f2f2;
  margin-top: 35px;
  font-size: 40px;
  font-weight: 500;
  font-family: "Big Shoulders", sans-serif;
}

p {
  margin-top: 25px;
  font-weight: 300;
}

div.first_card p {
  color: #f8e1c8;
}

div.second_card p {
  color: #bfd9db;
}

div.third_card p {
  color: #bfcfcf;
}

button {
  margin-top: 83px;
  border: 1px;
  border-radius: 25px;
  width: 146px;
  height: 48px;
  cursor: pointer;
}

button:hover {
  background-color: black;
}

div.first_card button {
  color: #e28625;
}

div.second_card button {
  color: #006971;
}

div.third_card button {
  color: #004140;
}
